/* reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }
/* main structure */
.site-app {display: flex; flex-direction:column; min-height: 100vh; justify-content: center;background-color: whitesmoke; }
header{color: white; background-color: #171321; width: 100%; height: 140px;}
.container {width:100%;max-width: 1200px; margin: 0 auto; overflow: hidden;}
footer{margin-top:auto;height: 70px;}

/* header */

/* top-header */
.top-header{position: relative;height: 100px;display:flex;flex-wrap: wrap;}
.top-header>div{display:flex;justify-content: center;align-items: center;}
.top-header-left{flex-basis: 100px;flex-grow:1;}
.top-header-left>p{background-color: #dbc00e;padding:8px 16px;color:#171321;font-weight: 500;border-radius: 8%;}
.top-header-center{flex-basis: 300px;flex-grow:3;flex-shrink: 0;}
.top-header-center>p{font-weight: 600; font-size: 40px;letter-spacing: 5px;}
.top-header-center>p{
  background-image: linear-gradient(to left, yellow, #dbc00e);  color: transparent;
  background-clip: text;  -webkit-background-clip: text;}
.top-header-right{flex-basis: 100px;flex-grow:1;}
header>.top-header::after{bottom: 0;   content: "";   height: 8px;   left: 0;   position: absolute;
  width: 100%;background: linear-gradient(2deg,rgb(230, 102, 102),#ffe742 50%, rgb(46, 175, 218));
}
/* nav-header */
.nav-header{height: 40px;}
.nav-header>nav{width: 100%;height: 100%;}
.nav-header>nav>ul{padding: 0;width: 100%;max-width:900px;height: 100%;list-style-type: none;margin: 0 auto;display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;}
.nav-header>nav>ul>li{display: inline;}
.nav-header>nav>ul>li>a{text-decoration: none;color:#eee}
.nav-header>nav>ul>li>a:hover{color:gold}

/* footer */
footer{height:150px;background-color:  #171321;}


/* cards */
.cards-wrapper {width:100%;margin:20px auto;display: flex; flex-flow: row wrap; gap:35px;}
.card {display: flex;flex-direction: column; flex: 0 1 35%; box-shadow: 5px 14px 28px rgba(0, 0, 0, .3); border-radius: 4%; cursor: pointer;background-color: white;}
.card-image {width:100%;flex:0 1 auto; }
.card-image img{border-top-right-radius: 4%; border-top-left-radius: 4%;}

/* tree */
.tree-container {width:100%; margin: 0 auto;display: flex;}
.tree-container>.tree {flex-basis: 500px;border: 1px solid black;}
.tree-container>.imgnsn {flex-basis: 800px;border: 1px solid black;}
.tree>.parent-container{width: 100%;}
.tree>.parent-container>h4{cursor:pointer;color:grey}
.tree>.parent-container>.sub-container{width:100%}

/* Listnsn */
.form-listnsn>table th,td {text-align:center; font-size: small;}
.form-listnsn>table tr:nth-child(even) {
  background-color: #eee;
}

/* Aithsh */

main.aithsh>.print{
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.aithsh>.print>.print-title{
    text-align: center;
}

main.aithsh table>tfoot>tr>td{
  padding-top:15px;
  text-align: center;
  vertical-align: text-top;
}
main.aithsh table>tfoot>tr{
  height: 100px;
}
main.aithsh table {
  font-weight: 300;
  width: 100%;
  max-width: 1100px;
}
main.aithsh table.t1 tr>td {
  border:none;
  height: 20px;
}
main.aithsh table.t1 {
  border: 1px solid lightgray;
  border-bottom: none;
  margin-bottom:-10px;
}
main.aithsh table.t2 {
  border: 1px solid lightgray;
}

main.aithsh table tr>td,
main.aithsh table tr>th{
  background-color: #fff;
  color: #000;
  font-size: small;
  text-align: center;
  border: 1px solid lightgray;
  border-left: none;
  border-top: none;
}

@media print  {
  .no-print, header, .sub-menu, footer  {
    display:none !important;  }
  @page {
    size: A4 landscape;
    margin: 20px auto;
  }
  .print{
    border:none !important;
  }
}
